* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}

.container {
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

.xsquares {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.color {
    background-color: black;
}

.newSketch {
    padding: 4px;
    margin: 16px;
}