* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}

.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.squares {
    display: inline-block;
    background-color: white;
    flex: 1;
    aspect-ratio: 1 / 1;
    flex-basis: 1%;
}

.color {
    background-color: black;
}

.newSketch {
    padding: 4px;
    margin: 16px;
}